# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

FRONTEND-INTEGRATION-GUIDE.md
TESTING_GUIDE.md
.env
PHASE2-FRONTEND-INTEGRATION-GUIDE.md
PHASE1-FRONTEND-INTEGRATION-GUIDE.md
phase2_frontend_summary.md
PHASE3-FRONTEND-INTEGRATION-GUIDE